.page-form-setting {
    background-color: #fff;
    .title {
        padding: 0 10px;
        margin: 0;
        width: 100%;
        line-height: 40px;
        font-weight: 900;
        box-sizing: border-box;
        background-color: #e2e5e9;
    }
    .ant-card-type-inner .ant-card-head {
        background-color: #f3f4f6;
    }
}
